.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  border: 0px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-body {
  border: 0px solid cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  